* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 10px;
}
header {
  color: grey;
  font-family: sans-serif;
}
.avatar {
  flex: 0 0 40%;
}
.avatar img {
  width: 60%;
  border-radius: 50%;
}
.nickname {
  font-size: 20pt;
}
.edit {
  font-size: 14pt;
  color: grey;
  background-color: white;
  border: 1px solid grey;
}
.settings {
  opacity: 0.5;
  width: 25px;
}
.name {
  font-weight: bold;
}
.description-full {
  font-size: 12pt;
  display: block;
  width: 80%;
  margin: 20px auto;
}
.activity-full {
  display: flex;
  padding: 10px 0;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.activity-full > div {
  text-align: center;
  flex: 1 1 auto;
}
.bold {
  font-weight: bold;
}
@media screen and (max-width: 567px){
  main {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main > .img {
    flex: 0 0 auto;
    width: 95%;
  }
  .img > img {
    width: 100%;
  }
  .description, .activity {
    display: none;
  }
  .text {
    flex: 0 0 50%;
    align-self: center;
  }
  .title {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .titlesection {
    display: flex;
    justify-content: center;
  }
  .nickname {
    font-size: 20pt;
    flex: 0 0 70%;
    order: -1;
    margin-bottom: 20px;
  }
  .editbutton {
    flex: 0 0 100%;
  }
  .edit {
    min-width: 120px;
    width: 95%;
  }
  .settingswheel {
    flex: 0 0 30px;
    order: -1;
  }
}
@media screen and (min-width:568px) and (max-width: 768px){
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  main > .img {
    flex: 0 0 40%;
    margin-bottom: 10px;
  }
  .img > img {
    width: 100%;
  }
  .activity-full, .description-full {
    display: none;
  }
  .activity {
    flex: 1 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .nickname {
    flex: 0 0 40%;
  }
  header {
    margin-bottom: 30px;
  }
  .text {
    flex: 0 0 50%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
  .titlesection {
    display: flex;
    justify-content: center;
  }
  .title {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .nickname {
    flex: 1 1 180px;
    order: -1;
    margin-bottom: 20px;
  }
  .editbutton {
    flex: 1 0 150px;
    text-align: center;
  }
  .edit {
    width: 120px;
  }
  .settingswheel {
    flex: 1 1 50px;
    text-align: right;
  }
}
@media screen and (min-width: 769px){
  header {
    margin-bottom: 30px;
  }
  .nickname {
    flex: 0 0 40%;
  }
  .editbutton {
    flex: 0 0 30%;
    order: -1;
  }
  .activity-full, .description-full {
    display: none;
  }
  .activity {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
  }
  .img > img {
    width: 100%;
  }
  main > .img {
    flex: 0 0 28%;
    margin-bottom: 10px;
  }
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-around
  }
  .title {
    flex: 0 0 20%;
  }
  .editbutton {
    flex: 0 0 20%;
  }
  .settingswheel {
    flex: 0 0 10%;
  }
  .text {
    flex: 0 0 50%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
  .titlesection {
    display: flex;
    justify-content: center;
  }
  .title {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .nickname {
    flex: 1 0 180px;
    order: -1;
    margin-bottom: 20px;
  }
  .editbutton {
    flex: 1 0 150px;
    text-align: center;
  }
  .edit {
    width: 120px;
  }
  .settingswheel {
    flex: 1 0 50px;
    text-align: right;
  }
}