* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 10px;
}
header {
  color: grey;
  font-family: sans-serif;
}
.titlesection {
  display: flex;
  justify-content: center;
  
}
.avatar {
  flex: 0 0 250px;
}
.avatar img {
  width: 150px;
  border-radius: 50%;
}
.text {
  flex: 0 0 300px;
  align-self: center;
}
.title {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nickname {
  font-size: 14pt;
  flex: 1 0 180px;
  order: -1;
}
.editbutton {
  font-size: 12pt;
  flex: 1 0 auto;
}
.edit {
  min-width: 120px;
  width: 95%;
  font-size: 14pt;
  color: grey;
  background-color: white;
  border: 1px solid grey;
}
.settingswheel {
  flex: 0 0 30px;
  order: -1
}
.settings {
  opacity: 0.6;
  width: 25px;
}
.name {
  font-weight: bold;
}
.description-full {
  font-size: 10pt;
  display: block;
  width: 80%;
  margin: 20px auto;
}
.activity-full {
  display: flex;
  padding: 10px 0;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.activity-full > div {
  text-align: center;
  flex: 1 1 auto;
}