* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 10px;
}
header {
  color: grey;
  font-family: sans-serif;
}
.titlesection {
  display: flex;
  justify-content: center;
  
}
.avatar {
  flex: 0 0 40%;
}
.avatar img {
  width: 150px;
  border-radius: 50%;
}
.text {
  flex: 0 0 50%;
  align-self: center;
}
.title {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.nickname {
  font-size: 14pt;
  flex: 0 0 70%;
  order: -1;
  margin-bottom: 20px;
}
.editbutton {
  font-size: 12pt;
  flex: 0 0 100%;
}
.edit {
  min-width: 120px;
  width: 95%;
  font-size: 14pt;
  color: grey;
  background-color: white;
  border: 1px solid grey;
}
.settingswheel {
  flex: 0 0 30px;
  order: -1
}
.settings {
  opacity: 0.6;
  width: 25px;
}
.name {
  font-weight: bold;
}
.description-full {
  font-size: 12pt;
  display: block;
  width: 80%;
  margin: 20px auto;
}
.activity-full {
  display: flex;
  padding: 10px 0;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.activity-full > div {
  text-align: center;
  flex: 1 1 auto;
}
@media screen and (max-width: 567px){
  main {
    border: top;
    display: flex;
    flex-direction: column;
  }
  main > .img {
    flex: 0 0 100%;
    margin: 10px auto;
  }
  .img > img {
    width: 100%;
  }
}
@media screen and (min-width:568px) and (max-width: 768px){
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;
    flex-wrap: wrap;
  }
  main > .img {
    flex: 0 0 40%;
  }
  .img > img {
    width: 100%;
  }
}